{% extends "base.html" %}

{% block content %}
<div class="profile">
    <img src="{{ site.profile.image | safe }}" alt="{{ site.author }}" class="profile-img" width="120" height="120">
    <h1>{{ site.author }}</h1>
    <p class="profile-subtitle">{{ site.profile.subtitle }}</p>
    <div class="social-links">
        {% for link in site.social %}
        <a href="{{ link.url | safe }}" target="_blank" rel="noopener noreferrer">{{ link.name }}</a>
        {% endfor %}
    </div>
</div>
{% endblock content %}
